{% extends "themes/base_visitor.html.twig" %}

{% block title %}Page de blog{% endblock %}

{% block description %}Explorez des publications passionnantes et pertinentes concernant le fitness.{% endblock %}

{% block keywords %}Blog, Fitness, Motivation, Boxe, Vélo, yoga, Radek K Mayele, Santé{% endblock %}

{% block main %}
    <main>
        <h1 class="text-center my-5 display-5">Blog</h1>
    </main>
{% endblock %}