{% extends "themes/base_visitor.html.twig" %}

{% block title %}Page de contact{% endblock %}

{% block description %}N’hésitez pas à nous contacter si vous avez des questions.{% endblock %}

{% block keywords %}Blog, Fitness, Motivation, Boxe, Vélo, yoga, Contact, Radek K Mayele, Santé{% endblock %}

{% block main %}
    <main>
        <h1 class="text-center my-5 display-5">Nous contacter</h1>
    </main>
{% endblock %}