{% extends "themes/base_visitor.html.twig" %}

{% block title %}Page d'accueil{% endblock %}

{% block description %}Explorez des publications passionnantes et pertinentes concernant le fitness.{% endblock %}

{% block keywords %}Blog, Fitness, Motivation, Boxe, Vélo, yoga, Radek K Mayele, Santé{% endblock %}

{% block main %}
    <main>
        <h1>Page d'accueil</h1>
    </main>
{% endblock %}